/* Laravel Bootstrap Pagination hack */
ul.pagination[role="navigation"]{
	list-style:none; 
	padding-left:0; 
	display:flex;
	justify-content:end;
}
ul.pagination[role="navigation"]>li>* {padding: 4px 8px; text-decoration:none; cursor:pointer;}
ul.pagination[role="navigation"]>li>*:hover {color:#2196F3;}
ul.pagination[role="navigation"]>li.active>* {color:#2196F3;}