@large:  ~"(min-width: 992px)";
@medium: ~"(min-width: 600px) and (max-width: 992px)";
@small:  ~"(max-width: 600px)";

@media @small{
	html, body {font-size:13px !important;}
	h1{font-size:34px;}
	h2{font-size:28px;}
	h3{font-size:22px;}
	h4{font-size:18px;}
	h5{font-size:16px;}
	h6{font-size:14px;}
	.padding{
		&-none-small{ .padding0(); }
		&-left{
			&-none-small{ padding-left:0 !important; }
			&-8-small{ padding-left:8px !important; }
			&-16-small{ padding-left:16px !important; }
			&-24-small{ padding-left:24px !important; }
			&-32-small{ padding-left:32px !important; }
		}
		&-right{
			&-none-small{ padding-right:0 !important; }
			&-8-small{ 	padding-right:8px !important; }
			&-16-small{ padding-right:16px !important; }
			&-24-small{ padding-right:24px !important; }
			&-32-small{ padding-right:32px !important; }
		}
		&-top{
			&-none-small{ padding-top:0 !important; }
			&-8-small{ 	padding-top:8px !important; }
			&-16-small{ padding-top:16px !important; }
			&-24-small{ padding-top:24px !important; }
			&-32-small{ padding-top:32px !important; }
		}
		&-bottom{
			&-none-small{ padding-bottom:0 !important; }
			&-8-small{ 	padding-bottom:8px !important; }
			&-16-small{ padding-bottom:16px !important; }
			&-24-small{ padding-bottom:24px !important; }
			&-32-small{ padding-bottom:32px !important; }
		}
		&-top-bottom-none-small{ padding-top:0 !important; padding-bottom:0 !important; }
		&-left-right-none-small{ padding-left:0 !important; padding-right:0 !important; }
	}
	.margin{
		&-none-small{ margin:0; }
		&-left{
			&-none-small{ margin-left:0 !important; }
			&-8-small{ margin-left:8px !important; }
			&-16-small{ margin-left:16px !important; }
			&-24-small{ margin-left:24px !important; }
			&-32-small{ margin-left:32px !important; }
		}
		&-right{
			&-none-small{ margin-right:0 !important; }
			&-8-small{ margin-right:8px !important; }
			&-16-small{ margin-right:16px !important; }
			&-24-small{ margin-right:24px !important; }
			&-32-small{ margin-right:32px !important; }
		}
		&-top{
			&-none-small{ margin-top:0 !important; }
			&-8-small{ margin-top:8px !important; }
			&-16-small{ margin-top:16px !important; }
			&-24-small{ margin-top:24px !important; }
			&-32-small{ margin-top:32px !important; }
		}
		&-bottom{
			&-none-small{ margin-bottom:0 !important; }
			&-8-small{ margin-bottom:8px !important; }
			&-16-small{ margin-bottom:16px !important; }
			&-24-small{ margin-bottom:24px !important; }
			&-32-small{ margin-bottom:32px !important; }
		}
		&-top-bottom-none-small{ margin-top:0 !important; margin-bottom:0 !important; }
		&-left-right-none-small{ margin-left:0 !important; margin-right:0 !important; }
	}
}

@media @medium{
	html,body {font-size:14px !important;}
	h1{font-size:35px;}
	h2{font-size:29px;}
	h3{font-size:23px;}
	h4{font-size:19px;}
	h6{font-size:17px;}
	h6{font-size:15px;}
	.padding{
		&-none-medium{ .padding0(); }
		&-left{
			&-none-medium{ padding-left:0 !important; }
			&-8-medium{ padding-left:8px !important; }
			&-16-medium{ padding-left:16px !important; }
			&-24-medium{ padding-left:24px !important; }
			&-32-medium{ padding-left:32px !important; }
		}
		&-right{
			&-none-medium{ padding-right:0 !important; }
			&-8-medium{ 	padding-right:8px !important; }
			&-16-medium{ padding-right:16px !important; }
			&-24-medium{ padding-right:24px !important; }
			&-32-medium{ padding-right:32px !important; }
		}
		&-top{
			&-none-medium{ padding-top:0 !important; }
			&-8-medium{ 	padding-top:8px !important; }
			&-16-medium{ padding-top:16px !important; }
			&-24-medium{ padding-top:24px !important; }
			&-32-medium{ padding-top:32px !important; }
		}
		&-bottom{
			&-none-medium{ padding-bottom:0 !important; }
			&-8-medium{ 	padding-bottom:8px !important; }
			&-16-medium{ padding-bottom:16px !important; }
			&-24-medium{ padding-bottom:24px !important; }
			&-32-medium{ padding-bottom:32px !important; }
		}
		&-top-bottom-none-medium{ padding-top:0 !important; padding-bottom:0 !important; }
		&-left-right-none-medium{ padding-left:0 !important; padding-right:0 !important; }
	}
	.margin{
		&-none-medium{ margin:0; }
		&-left{
			&-none-medium{ margin-left:0 !important; }
			&-8-medium{ margin-left:8px !important; }
			&-16-medium{ margin-left:16px !important; }
			&-24-medium{ margin-left:24px !important; }
			&-32-medium{ margin-left:32px !important; }
		}
		&-right{
			&-none-medium{ margin-right:0 !important; }
			&-8-medium{ margin-right:8px !important; }
			&-16-medium{ margin-right:16px !important; }
			&-24-medium{ margin-right:24px !important; }
			&-32-medium{ margin-right:32px !important; }
		}
		&-top{
			&-none-medium{ margin-top:0 !important; }
			&-8-medium{ margin-top:8px !important; }
			&-16-medium{ margin-top:16px !important; }
			&-24-medium{ margin-top:24px !important; }
			&-32-medium{ margin-top:32px !important; }
		}
		&-bottom{
			&-none-medium{ margin-bottom:0 !important; }
			&-8-medium{ margin-bottom:8px !important; }
			&-16-medium{ margin-bottom:16px !important; }
			&-24-medium{ margin-bottom:24px !important; }
			&-32-medium{ margin-bottom:32px !important; }
		}
		&-top-bottom-none-medium{ margin-top:0 !important; margin-bottom:0 !important; }
		&-left-right-none-medium{ margin-left:0 !important; margin-right:0 !important; }
	}
}

@media @large{
	html,body {font-size:15px !important;}
	h1{font-size:36px;}
	h2{font-size:30px;}
	h3{font-size:24px;}
	h4{font-size:20px;}
	h6{font-size:18px;}
	h6{font-size:16px;}
	.padding{
		&-none-large{ .padding0(); }
		&-left{
			&-none-large{ padding-left:0 !important; }
			&-8-large{ padding-left:8px !important; }
			&-16-large{ padding-left:16px !important; }
			&-24-large{ padding-left:24px !important; }
			&-32-large{ padding-left:32px !important; }
		}
		&-right{
			&-none-large{ padding-right:0 !important; }
			&-8-large{ 	padding-right:8px !important; }
			&-16-large{ padding-right:16px !important; }
			&-24-large{ padding-right:24px !important; }
			&-32-large{ padding-right:32px !important; }
		}
		&-top{
			&-none-large{ padding-top:0 !important; }
			&-8-large{ 	padding-top:8px !important; }
			&-16-large{ padding-top:16px !important; }
			&-24-large{ padding-top:24px !important; }
			&-32-large{ padding-top:32px !important; }
		}
		&-bottom{
			&-none-large{ padding-bottom:0 !important; }
			&-8-large{ 	padding-bottom:8px !important; }
			&-16-large{ padding-bottom:16px !important; }
			&-24-large{ padding-bottom:24px !important; }
			&-32-large{ padding-bottom:32px !important; }
		}
		&-top-bottom-none-large{ padding-top:0 !important; padding-bottom:0 !important; }
		&-left-right-none-large{ padding-left:0 !important; padding-right:0 !important; }
	}
	.margin{
		&-none-large{ margin:0; }
		&-left{
			&-none-large{ margin-left:0 !important; }
			&-8-large{ margin-left:8px !important; }
			&-16-large{ margin-left:16px !important; }
			&-24-large{ margin-left:24px !important; }
			&-32-large{ margin-left:32px !important; }
		}
		&-right{
			&-none-large{ margin-right:0 !important; }
			&-8-large{ margin-right:8px !important; }
			&-16-large{ margin-right:16px !important; }
			&-24-large{ margin-right:24px !important; }
			&-32-large{ margin-right:32px !important; }
		}
		&-top{
			&-none-large{ margin-top:0 !important; }
			&-8-large{ margin-top:8px !important; }
			&-16-large{ margin-top:16px !important; }
			&-24-large{ margin-top:24px !important; }
			&-32-large{ margin-top:32px !important; }
		}
		&-bottom{
			&-none-large{ margin-bottom:0 !important; }
			&-8-large{ margin-bottom:8px !important; }
			&-16-large{ margin-bottom:16px !important; }
			&-24-large{ margin-bottom:24px !important; }
			&-32-large{ margin-bottom:32px !important; }
		}
		&-top-bottom-none-large{ margin-top:0 !important; margin-bottom:0 !important; }
		&-left-right-none-large{ margin-left:0 !important; margin-right:0 !important; }
	}
}